@charset "UTF-8";

form {
    text-align: right;
    background-color: #0751BF;
    color: white;
    font-weight: bold;
}

header > h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
}

header > p {
    font-size: 20px;
    text-align: center;

}

header > h1 , p {
    background-color: #0751BF;
    margin: 0px;
    padding: 20px;
    color: white;
    line-height: 0.7em;

}  
 
nav {
    background-color: #082b5b7e;
    text-align: center;
    font-size: 20px;
    color: white;
    Text-decoration: none;
    padding: 10px;
        
}

a {
    color: rgba(0, 0, 0, 0.527);
    
}
a:hover {
    color: white;
    Text-decoration: underline;
    
    
}

body {
    margin: 0;
    background-color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div {
    background-color: #0751BF;
    margin: 50px;
    padding: 50px;
    display: inline-block;


}
footer {
    background-color: #0751BF;
    color: white;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    padding: 10px;

}

footer a {
    color: white;
    Text-decoration: underline;
    font-weight: bolder;
    text-decoration: none;
}