@charset "UTF-8";

form {
    text-align: right;
    background-color: #2164D9;
    color: orange;
    font-weight: bold;
}

header > p {
    font-size: 20px;
    text-align: center;

}

header > h1 {
    background-color: #2164D9;
    margin: 0px;
    padding: 10px;
    color: white;
    line-height: 0.7em;
    size: 10px;
    background-size: contain;
}  

header > img {
    float: right;
    padding-top: 60px;
    padding-right: 100px;
}


nav {
    background-color: orange;
    text-align: center;
    color: white;
    Text-decoration: none;
    padding: 10px;
        
}

a {
    color: rgb(10, 10, 133);
    font-size: 17px;
}
a:hover {
    color: white;
    Text-decoration: underline;
    
    
}

body {
    margin: 0;
    background-color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div {
    background-color: white;
    margin: 50px;
    padding: 50px;
    display: inline-block;


}
footer {
    background-color: #2164D9;
    color: white;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    padding: 10px;

}

footer a {
    color: white;
    Text-decoration: underline;
    font-weight: bolder;
    text-decoration: none;
}